<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConstructionCalculator">
        <activity
            android:name=".NoteEditActivity"
            android:exported="false" />
        <activity
            android:name=".ConstructionNotesActivity"
            android:exported="false" />
        <activity
            android:name=".PlanDrawingActivity"
            android:exported="false" />
        <activity
            android:name=".CubeTankActivity"
            android:exported="false" />
        <activity
            android:name=".RectangularTankActivity"
            android:exported="false" />
        <activity
            android:name=".HorizontalCylinderActivity"
            android:exported="false" />
        <activity
            android:name=".VerticalCylinderActivity"
            android:exported="false" />
        <activity
            android:name=".IrregularShapeActivity"
            android:exported="false" />
        <activity
            android:name=".LShapeAreaActivity"
            android:exported="false" />
        <activity
            android:name=".PentagonActivity"
            android:exported="false" />
        <activity
            android:name=".ParallelogramActivity"
            android:exported="false" />
        <activity
            android:name=".TankVolumeActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" /> <!-- Splash (بداية التطبيق) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- باقي الصفحات -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".FloorPlanActivity"
            android:exported="false" />
        <activity
            android:name=".TankCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".RectangleAreaActivity"
            android:exported="false" />
        <activity
            android:name=".SquareAreaActivity"
            android:exported="false" />
        <activity
            android:name=".TriangleAreaActivity"
            android:exported="false" />
        <activity
            android:name=".TrapezoidAreaActivity"
            android:exported="false" />
        <activity
            android:name=".MenuCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".AreaCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".DesignDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".BrickActivity"
            android:exported="false" />
        <activity
            android:name=".TilesActivity"
            android:exported="false" />
        <activity
            android:name=".PlasterActivity"
            android:exported="false" />
        <activity
            android:name=".ConcreteActivity"
            android:exported="false" />
        <activity
            android:name=".PaintActivity"
            android:exported="false" /> <!-- MainActivity (لم تعد البداية) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>